<a href="https://colab.research.google.com/github/InVeRnyako/PythonIntroEx09/blob/master/Python_Intro_ex9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [ ]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  human
3  human
4  robot

In [ ]:
df = pd.get_dummies(lst)

In [ ]:
print(df)

    human  robot
0       0      1
1       1      0
2       1      0
3       1      0
4       0      1
5       1      0
6       1      0
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      1      0
13      1      0
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      0      1